@import "_reset.scss";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

.container {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

.login {
  position: fixed;
  left: 10px;
  top: 10px;
}

.calendars {
  position: fixed;
  left: 10px;
  top: 40px;
  text-align: left;

  ul {
    margin-top: 0.5rem;

    li {
      input{
        vertical-align: middle;
      }
    }
  }
}

.faded {
  opacity: 0;
}

.watch {
  border: 5px solid silver;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 100vmin;
  height: 100vmin;
  border-radius: 100%;
  display: inline-block;
  transition: 0.5s ease-in-out;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(209,196,233,0.5) 60%, rgba(209,196,233,1) 100%);

  div {
    span {
      line-height: 24px;
    }
  }

  .number {
    position: absolute;
    height: 1.5rem;
    width: 48%;
    left: 50%;
    top: calc(50% - 0.75rem);
    transform-origin: left center;

    &.p-6 {
      transform: rotate(calc(6 / 24 * 360deg + 90deg));

      span {
        position: absolute;
        right: 0;
        transform: rotate(180deg);
      }
    }

    &.p-1,
    &.p-10,
    &.p-11,
    &.p-13,
    &.p-14,
    &.p-15,
    &.p-16,
    &.p-17,
    &.p-19,
    &.p-2,
    &.p-20,
    &.p-21,
    &.p-22,
    &.p-23,
    &.p-3,
    &.p-4,
    &.p-5,
    &.p-7,
    &.p-8,
    &.p-9 {
      span {
        position: absolute;
        right: 1rem;
      }
    }

    &.p-7 {
      transform: rotate(calc(7 / 24 * 360deg + 90deg));
    }

    &.p-8 {
      transform: rotate(calc(8 / 24 * 360deg + 90deg));
    }

    &.p-9 {
      transform: rotate(calc(9 / 24 * 360deg + 90deg));
    }

    &.p-10 {
      transform: rotate(calc(10 / 24 * 360deg + 90deg));
    }

    &.p-11 {
      transform: rotate(calc(11 / 24 * 360deg + 90deg));
    }

    &.p-13 {
      transform: rotate(calc(13 / 24 * 360deg + 90deg));
    }

    &.p-14 {
      transform: rotate(calc(14 / 24 * 360deg + 90deg));
    }

    &.p-15 {
      transform: rotate(calc(15 / 24 * 360deg + 90deg));
    }

    &.p-16 {
      transform: rotate(calc(16 / 24 * 360deg + 90deg));
    }

    &.p-17 {
      transform: rotate(calc(17 / 24 * 360deg + 90deg));
    }

    &.p-12 {
      transform: rotate(calc(12 / 24 * 360deg + 90deg));

      span {
        position: absolute;
        right: 0;
        transform: rotate(90deg);
      }
    }

    &.p-18 {
      transform: rotate(calc(18 / 24 * 360deg + 90deg));

      span {
        position: absolute;
        right: 0;
        transform: rotate(0deg);
      }
    }

    &.p-24 {
      transform: rotate(calc(24 / 24 * 360deg + 90deg));

      span {
        position: absolute;
        right: 0;
        transform: rotate(-90deg);
      }
    }
  }

  .pointer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: left center;
    z-index: 1;

    &.seconds {
      width: 45%;
      height: 1px;
      background-color: red;
    }

    &.minutes {
      width: 42%;
      height: 2px;
      background-color: black;
    }

    &.hours {
      width: 35%;
      height: 3px;
      background-color: gold;
    }
  }

  .event {
    position: absolute;
    height: 1.5rem;
    width: 48%;
    left: 50%;
    top: -50%;
    transform-origin: left center;
    transition: 0.5s ease-in-out;

    .circle {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      right: 0;
      background-color: #81aa03;
    }
  }
}

.tooltip_templates {
  display: none;
}
