<!DOCTYPE html>
<html>

<head>
  <title>Google Calendar Smart Watch</title>

  <link rel='stylesheet' href='/css/style.css' />

  <script src="/js/bundle.js"></script>
</head>

<body>
  <div class="container">
    <% if (!user) { %>
      <div class="login">
        <a href="/auth/google">Click here to login with Google</a>
      </div>
      <% } else { %>
        <div class="login">
          <a href="/auth/logout">Hi <%= user.displayName %>, click here to logout.</a>
        </div>
        <div class="calendars">
          <p>
            Select calendars to view:
          </p>
          <ul class="calendarList">
          </ul>
        </div>
        <% } %>
          <div class="watch faded">
            <div class="number p-6"><span>6</span></div>
            <div class="number p-7"><span>-</span></div>
            <div class="number p-8"><span>-</span></div>
            <div class="number p-9"><span>-</span></div>
            <div class="number p-10"><span>-</span></div>
            <div class="number p-11"><span>-</span></div>
            <div class="number p-12"><span>12</span></div>
            <div class="number p-13"><span>-</span></div>
            <div class="number p-14"><span>-</span></div>
            <div class="number p-15"><span>-</span></div>
            <div class="number p-16"><span>-</span></div>
            <div class="number p-17"><span>-</span></div>
            <div class="number p-18"><span>18</span></div>
            <div class="number p-24"><span>24</span></div>
            <span class="pointer seconds"></span>
            <span class="pointer minutes"></span>
            <span class="pointer hours"></span>
          </div>
  </div>
</body>

</html>
