/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

.container {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

.login {
  position: fixed;
  left: 10px;
  top: 10px;
}

.calendars {
  position: fixed;
  left: 10px;
  top: 40px;
  text-align: left;
}
.calendars ul {
  margin-top: 0.5rem;
}
.calendars ul li input {
  vertical-align: middle;
}

.faded {
  opacity: 0;
}

.watch {
  border: 5px solid silver;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 100vmin;
  height: 100vmin;
  border-radius: 100%;
  display: inline-block;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(50%, white), color-stop(60%, rgba(209, 196, 233, 0.5)), to(#d1c4e9));
  background: linear-gradient(to bottom, white 0%, white 50%, rgba(209, 196, 233, 0.5) 60%, #d1c4e9 100%);
}
.watch div span {
  line-height: 24px;
}
.watch .number {
  position: absolute;
  height: 1.5rem;
  width: 48%;
  left: 50%;
  top: calc(50% - 0.75rem);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.watch .number.p-6 {
  -webkit-transform: rotate(calc(6 / 24 * 360deg + 90deg));
          transform: rotate(calc(6 / 24 * 360deg + 90deg));
}
.watch .number.p-6 span {
  position: absolute;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.watch .number.p-1 span, .watch .number.p-10 span, .watch .number.p-11 span, .watch .number.p-13 span, .watch .number.p-14 span, .watch .number.p-15 span, .watch .number.p-16 span, .watch .number.p-17 span, .watch .number.p-19 span, .watch .number.p-2 span, .watch .number.p-20 span, .watch .number.p-21 span, .watch .number.p-22 span, .watch .number.p-23 span, .watch .number.p-3 span, .watch .number.p-4 span, .watch .number.p-5 span, .watch .number.p-7 span, .watch .number.p-8 span, .watch .number.p-9 span {
  position: absolute;
  right: 1rem;
}
.watch .number.p-7 {
  -webkit-transform: rotate(calc(7 / 24 * 360deg + 90deg));
          transform: rotate(calc(7 / 24 * 360deg + 90deg));
}
.watch .number.p-8 {
  -webkit-transform: rotate(calc(8 / 24 * 360deg + 90deg));
          transform: rotate(calc(8 / 24 * 360deg + 90deg));
}
.watch .number.p-9 {
  -webkit-transform: rotate(calc(9 / 24 * 360deg + 90deg));
          transform: rotate(calc(9 / 24 * 360deg + 90deg));
}
.watch .number.p-10 {
  -webkit-transform: rotate(calc(10 / 24 * 360deg + 90deg));
          transform: rotate(calc(10 / 24 * 360deg + 90deg));
}
.watch .number.p-11 {
  -webkit-transform: rotate(calc(11 / 24 * 360deg + 90deg));
          transform: rotate(calc(11 / 24 * 360deg + 90deg));
}
.watch .number.p-13 {
  -webkit-transform: rotate(calc(13 / 24 * 360deg + 90deg));
          transform: rotate(calc(13 / 24 * 360deg + 90deg));
}
.watch .number.p-14 {
  -webkit-transform: rotate(calc(14 / 24 * 360deg + 90deg));
          transform: rotate(calc(14 / 24 * 360deg + 90deg));
}
.watch .number.p-15 {
  -webkit-transform: rotate(calc(15 / 24 * 360deg + 90deg));
          transform: rotate(calc(15 / 24 * 360deg + 90deg));
}
.watch .number.p-16 {
  -webkit-transform: rotate(calc(16 / 24 * 360deg + 90deg));
          transform: rotate(calc(16 / 24 * 360deg + 90deg));
}
.watch .number.p-17 {
  -webkit-transform: rotate(calc(17 / 24 * 360deg + 90deg));
          transform: rotate(calc(17 / 24 * 360deg + 90deg));
}
.watch .number.p-12 {
  -webkit-transform: rotate(calc(12 / 24 * 360deg + 90deg));
          transform: rotate(calc(12 / 24 * 360deg + 90deg));
}
.watch .number.p-12 span {
  position: absolute;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.watch .number.p-18 {
  -webkit-transform: rotate(calc(18 / 24 * 360deg + 90deg));
          transform: rotate(calc(18 / 24 * 360deg + 90deg));
}
.watch .number.p-18 span {
  position: absolute;
  right: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.watch .number.p-24 {
  -webkit-transform: rotate(calc(24 / 24 * 360deg + 90deg));
          transform: rotate(calc(24 / 24 * 360deg + 90deg));
}
.watch .number.p-24 span {
  position: absolute;
  right: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.watch .pointer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  z-index: 1;
}
.watch .pointer.seconds {
  width: 45%;
  height: 1px;
  background-color: red;
}
.watch .pointer.minutes {
  width: 42%;
  height: 2px;
  background-color: black;
}
.watch .pointer.hours {
  width: 35%;
  height: 3px;
  background-color: gold;
}
.watch .event {
  position: absolute;
  height: 1.5rem;
  width: 48%;
  left: 50%;
  top: -50%;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.watch .event .circle {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  right: 0;
  background-color: #81aa03;
}

.tooltip_templates {
  display: none;
}
